<section>
    <div class="services-section">
        <div class="inner-width">
            <h1 class="section-title">Our Services</h1>
            <div class="border"></div>
            <div class="services-container">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fas fa-medkit"></i>
                    </div>
                    <div class="service-title">Realtime Diagnosis</div>
                    <div class="service-desc">
                        the diagnosis tool will work in realtime.
                    </div>
                </div>

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fas fa-desktop"></i>
                    </div>
                    <div class="service-title">Health Monitor</div>
                    <div class="service-desc">
                        A web monitor connected to the database
                    </div>
                </div>



                <div class="service-box">
                    <div class="service-icon">
                        <i class="fas fa-database"></i>
                    </div>
                    <div class="service-title">Databases</div>
                    <div class="service-desc">
                        A cloud based database will be used to store the data in realtime
                    </div>
                </div>

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-apple"></i>
                    </div>
                    <div class="service-title">Ios App</div>
                    <div class="service-desc">
                        ios app comming soon...
                    </div>
                </div>


                <div class="service-box">
                    <div class="service-icon">
                        <i class="fab fa-android"></i>
                    </div>
                    <div class="service-title">Android</div>
                    <div class="service-desc">
                        Android app comming soon...
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>