<section>
    <div class="services-section">
        <h1 class="section-title">Features</h1>
        <div class="border"></div>

        <div class="d-flex justify-content-center ">

            <div class="content p-2">

                <h2>App breakdown
                    <br><span>Lets go</span></h2>

                <p>The user has to create an Account to have have full access to this app either by creating an accout or signing in by google and other email services. <br> After signing in a verification step follows.<br> These steps are the once the farmer
                    will use fot cryptic data and will keep the data safer for future use
                </p>


            </div>


            <div class="p-2 pop">
                <img src="../../assets/register_google-pixel4-justblack-portrait.png" alt="pic">

            </div>

        </div>

        <div class="d-flex justify-content-center ">

            <div class="content p-2">

                <h2>Lets dive deeper
                    <br><span></span></h2>

                <p>The farmer can turn on notification linked to the diagnosis tool to get updates on scheduled time.<br> turning on notification Actually means the farmer gets suggestions on what to feed the animals, daily health reminders and reports.<br>                    the app will tailor make data suited for the farmers needs meaning the animals will get daily body scans for famers can choose the correct food to feed them</p>


            </div>


            <div class="p-2 pop">
                <img src="../../assets/notif_google-pixel4-justblack-portrait.png" alt="pic">

            </div>

        </div>
        <div class="d-flex justify-content-center ">

            <div class="content p-2">

                <h2>Lets add final touchs
                    <br><span></span></h2>

                <p>All this information will be stored and protected in the cloud.</p>


            </div>


            <div class="p-2 pop">
                <img src="../../assets/results_google-pixel4-justblack-portrait.png" alt="pic">

            </div>

        </div>
        <div style="text-align: center">
            <video width="400" controls>
        <source src="../../assets/Karabo.mp4.mp4" type="video/mp4">
    
        Your browser does not support HTML5 video.
      </video>
        </div>


    </div>



</section>